@import "node_modules/bootstrap/scss/bootstrap";

$backgroundCurrentColor: currentColor;


.backgroundCurrentColor  {
  background-color: $backgroundCurrentColor;
}

// Breadcrumb
.breadcrumb {
  margin-top: 1rem;
}